mat-row.hovered {
    background-color: #38bcfc !important;
    cursor: pointer;
}

mat-row.selected {
    background-color: #039be5 !important;
    cursor: pointer;
}

.column-actions {
    padding-right: 25px !important;
}

.loading-data {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-fab-button {
    position: absolute;
    bottom: 12px;
    right: 16px;
    padding: 0;
    z-index: 99;
}

.mat-button-toggle-group {
    border-radius: 0px;
}

.mat-button-toggle-checked {
    background: white !important;
    font-weight: bold;
}

mat-table {
    overflow: auto;
}

.hovered {
    background: #38bcfc !important;
}

.avatar-container {
	padding: 8px 0;
}

.mat-column-picture {
        flex: 0 0 25% !important;
}

.mat-column-actions {
	flex: 0 0 20% !important;
}